/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Стили для заголовка */
.header {
    background: #ffffff;
    color: #db555c;
    position: relative;
    top: 0;
    z-index: 10;
}

.header .navig {
    padding: 20px 0;
    background: #ffffff;
    text-align: center;
}

.header .navig ul {
    list-style: none;
    padding: 0;
}

.header .navig ul li {
    display: inline;
    margin: 0 10px;
}

.header .navig ul li a {
    color: #2c0505;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}

.header .navig ul li a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    color: black;
}

/* Стили для основного текста */
.header .face {
    margin-bottom: 60px;
    padding-top: 20px;
    height: 400px;
    position: relative;
    text-align: center;
    color: #2c0505;
    background: url(faceAbram.jpg) no-repeat center fixed;
    background-size: cover; /* Добавлено для масштабирования изображения */
}

.main-wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}

.main-board__left-block {
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    height: 400px;
}

.header .face h1 {
    margin-bottom: 50px;
    font-size: 2.5em;
    max-width: 600px;
    margin: 30px 20px;
    padding-left: 0;
    font-family: 'Playfair Display', serif;
}

.header .face p {
    font-size: 1.2em;
    margin: 50px auto;
    max-width: 600px;
    max-height: 350px;
    background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный фон для улучшения читаемости */
    padding: 20px;
    color: #ffffff;
    text-align: left;
    font-family: 'Playfair Display', serif;
    transition: transform 0.3s ease;
}

.header .face p:hover {
    transform: scale(1.05); /* Добавлено для эффекта увеличения */
}

/* Стили для галереи */
.gallery {
    padding: 50px 20px;
    text-align: center;
}

.gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: #ff0000;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 100%; /* Максимальная ширина контейнера галереи */
    margin: 0 auto; /* Центрирование */
}

.gallery-item {
    overflow: hidden;
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .caption {
    opacity: 1;
}

/* Медиазапросы для адаптации под меньшие экраны */
@media (max-width: 768px) {
    .header, .gallery {
        padding: 20px;
    }

    .header .face {
        padding: 20px;
        height: auto;
        background-attachment: scroll; /* Изменение для мобильных устройств */
    }

    .header .face h1 {
        font-size: 2em;
    }

    .header .face p {
        font-size: 1em;
        padding: 15px;
        max-width: 90%; /* Изменение для адаптации ширины */
        margin: 20px auto; /* Центрирование */
    }

    /* Обновление для предотвращения наложения элементов */
    .gallery {
        padding: 20px 0;
    }
}

/* Дополнительные стили для мобильных устройств */
@media (max-width: 480px) {
    .header .navig ul li {
        display: block;
        margin: 10px 0;
    }

    .header .navig ul li a {
        font-size: 1em;
    }

    .header .face h1 {
        font-size: 1.5em;
        margin: 20px auto;
    }

    .header .face p {
        font-size: 0.9em;
        padding: 10px;
    }

    .gallery-container {
        grid-template-columns: 1fr;
    }
}

.faq {
    padding: 50px 20px;
    background-color: #b4b3b3;
    text-align: left;
}

.faq h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.faq-item {
    margin: 20px 0;
    cursor: pointer;
}

.faq-item h3 {
    font-size: 1.5em;
    color: #261da9;
    text-decoration: underline;
    margin: 0;
}

.faq-item p {
    font-size: 1.2em;
    margin-top: 10px;
    display: none;
    padding-left: 20px;
}

.contact h2 {
    margin-top: 30px;
}

.contact-details {
    text-align: left;
    margin: 20px 0;
    padding-top: 20px;
}

.contact-details p {
    font-size: 1.2em;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.contact-details i {
    color: red;
    margin-right: 10px;
}

.contact-details a {
    color: inherit;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

.contact .map {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer > .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrapper h2 {
    text-decoration: underline;
    text-decoration-color: #ff0000;
}

.social-cont {
    margin: 20px 0;
}

.social-cont > a {
    color: red;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    position: relative;
    width: 20px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.3s;
}

.social-cont > a::before {
    content: '';
    width: 25px;
    height: 25px;
    border: 1px solid #000000;
    transform: rotate(45deg);
    position: absolute;
    left: -3px;
    top: -5px;
    transition-duration: 0.3s;
    z-index: -1;
}

.social-cont > a:hover {
    color: #000000;
}

.social-cont > a:hover::before {
    background: #ff0000;
}
